<!DOCTYPE html>

<html>
	<head>
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/ng-grid/ng-grid-2.0.1.min.js"></script>
		<script src="node_modules/chart.js/dist/Chart.min.js"></script>
		<link rel="stylesheet" type="text/css" href="node_modules/ng-grid/ng-grid.css">
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="src/css/index.css">

	</head>
	<body id="sm-container" ng-app="myApp">
		<div id="sm-graphholder" ng-controller="myCtrl">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="filterValue" placeholder="search">
				<span>Filter:</span>
				<select class="form-control" ng-model="category" ng-options="x for x in categoryList"></select>
				<select class="form-control" ng-model="gender" ng-options="x for x in genderList"></select>
				<select class="form-control" ng-model="mediumofInst" ng-options="x for x in mediumofInstList"></select>
			</div>
			<div class="ngGridStyle" ng-grid="ngGridView"></div>
		</div>
		<script src="src/js/index.js"></script>
	</body>
</html>