body{
	margin:0;
	padding:0;
	font-family:Arial;
}
#sm-container{
	width:100%;
}
#sm-graphholder{
	width:90%;
	margin:0 auto;
}
.ngGridStyle {
    border: 2px solid green;
    height: 420px;
}
.filter{
	padding: 10px 0;
}
.form-control{
	display: inline-block;
	width: 15%;
	margin-right: 5px;
}